@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.form {
  &__heading {
    margin: 0 0 12px 0;
    padding: 8px 0;
    text-align: center;
    background-color: $black;
    @include heading(24px, $white);
  }

  &__subheading {
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 1px dashed $black;
    @include heading(16px, $black);
  }

  &__description {
    margin-bottom: 12px;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__content-box {
    width: 45%;
  }

  &__section:not(:last-child) {
    margin-bottom: 12px;
  }
}