@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.manage-page {
  //position: absolute;

  & .container {
    @include container();
    overflow: hidden;
  }

  &__buttons {
    padding: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 24px;
    background-color: $black;
  }

  &__button {
    @include link('primary');
  }
}